<?xml version="1.0" encoding="UTF-8"?><SystemProperties><SystemName>120-800532</SystemName><SerialNo>120-800532</SerialNo><UsedMedia><Media path="RobotWare_6.07.1011" name="RobotWare" version="6.07.1011" /></UsedMedia><ControlModule><Option descr="613-1 Collision Detection"></Option><Option descr="616-1 PC Interface"></Option><Option descr="RobotWare Base"></Option><Option descr="English"></Option><Option descr="841-1 EtherNet/IP Scanner/Adapter"></Option><Option descr="840-1 EtherNet/IP Anybus Adapter"></Option><Option descr="608-1 World Zones"></Option></ControlModule><DriveModule><Name>Robot1</Name><Option descr="Motor Commutation"></Option><Option descr="Service Info System"></Option><Option descr="Pendelum Calibration"></Option><Option descr="Axis Calibration"></Option><Option descr="Drive System IRB 120/140/260/360/910SC/1200/1400/1520/1600/1660ID IRC5 Compact"></Option><Option descr="IRB 120-3/0.6"></Option></DriveModule></SystemProperties>